@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.signup{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}

#sign_form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 3%;
    box-shadow: 0px 0px 5px 5px rgb(240, 233, 233);
    border-radius: 10px;
    transition: box-shadow 1s ease;
}

#sign_form:hover{
    box-shadow: 0px 0px 10px 2px rgb(247, 155, 155);
}

.item{
    padding: 5px;
    margin: 5%;
    border-width: 0ch 0ch 0.1ch 0ch;
    transition: all 1s ease;
    
}

.item:focus{
    outline: none;
    border-color: rgb(241, 0, 0);
    
}

#sign_form button{
    margin: 5% auto;
    border-width: 0ch;
    box-shadow: 0px 2px 2px 1px rgb(58, 57, 57);
    padding: 5px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bolder;
    background-color: rgb(0, 130, 251);
    transition: background-color 500ms ease;
}


#sign_form button:hover{
    background-color: rgb(0, 90, 173);

}

a{
    text-decoration: none;
    text-align: center;
    font-size: x-small;
    margin: 10px auto;
    color: rgb(255, 42, 42);
    transition: all 500ms ease;
}

a:hover{
    transform: scale(1.5);
}

textarea{
    resize: none;
}

#pass{
    display : flex;
    margin: 5% auto;
    justify-content: center;
    align-items: center;
    
}

#pass input{
    cursor: pointer;

}

.red{
    border-color: red;
}

#err{
    text-align: center;
    margin-top: 1%;
    color: red;
}