doctype html
html(lang="en")
    head
        block style
        meta(charset="UTF-8")
        meta(http-equiv='Cache-Control', content='no-store, no-cache, must-revalidate')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='-1')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
    body 
        block content
    block script